<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Calculadora IMC</title>
  </head>
  <body>
    <main>
      <div class="container-fluid h-100s">
        <div class="row justify-content-center align-items-center">
          
          <h1>
            {{title}}
          </h1>
      
          <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

                <div class="form-group">
                  <span>Ingrese su peso (kg):</span>
                  <input type="text" class="form-control" formControlName="weight"/>
                </div>

                <br>
        
                <div class="form-group">
                  <span>Ingrese su peso (kg):</span>
                  <input type="text" class="form-control" formControlName="height"/>
                </div>

                <br>
        
                <input class="btn btn-primary col-6" type="submit" />

            </form>
          </div>
      
        </div>
    </div>
  </main>
    
  </body>
</html>


